body {
  font-family: 'Work Sans', sans-serif;
}

.jumbotron {
  margin-top: 20px;
  background-size: 45% auto;
}

.currentSchedule {
  background-color: #44566d;
  color: white;
}

.panel-title {
  font-size: 20px;
}

/* @media screen and (min-width: 100px) {
  .jumbotron {
    font-size: 18px;
    height: 30px;
  }
}

@media screen and (min-width: 425px) {
  .jumbotron {
    height: 50px;
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    height: 50px;
    font-size: 40px;
  }
} */