body {
  font-family: 'Allerta Stencil', sans-serif;
  margin: 10px;
  background: black;
}

.jumbotron {
  margin-top: 20px;
  background: black;
  color: gray;
}

.currentScheduleHeader {
  background-color: #fdfc80;
  color: black;
}

.btn {
  background-color: red;
  color: white;
}

.panel-title {
  font-size: 20px;
  color: grey;
}

.train-info {
  text-align: center;
  color: white;
}

th {
  padding: 20px;
}

.trainPic {
  width: 60%;
}

label {
  color: #fafafc;
}


@media screen and (max-width: 503px) {
  .train-info {
    font-size: 10px;
  }
  .trainPic {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .trainPic {
    width: 100%;
  }
  .jumbotron {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .trainPic {
    width: 100%;
  }
  .jumbotron {
    font-size: 30px;
  }
  .train-info {
    font-size: 7px;
  }
}